.header {
    background-color: #F5F5F5;
}

.header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    font-size: 14px;
    background-color: white;
    padding-top: 20px;
}

.header__companyLogo {
    flex: 0.3;
    cursor: pointer;
}

.header__navLinks {
    display: flex;
    justify-content: space-around;
    
    font-weight: 700;
    letter-spacing: 2px;
}

.header__navLink {
    /* margin-left: 10px; */
    padding: 10px;
}

.header__navLink a {
    text-decoration: none;
    color: #7fad39 !important;
}

.header__navlink__active {
    color: #7fad39 !important;
}

.header__navLink:hover {
    color:  #7fad39 !important;
    cursor: pointer;
}

.header__shoppingCart {
    display: flex;
    align-items: center;
}

.header__shoppingCartIcons > * {
    margin-right: 10px;
}

a .MuiSvgIcon-root {
    color: black !important;
}

a .MuiSvgIcon-root:hover {
    color: #7c9473 !important;
}

.header__login {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__login:hover {
    color: #7fad39;
}

.header__shoppingCart > div {
    margin-right: 10px;
}

.MuiBadge-badge {
    background-color: #7c9473 !important;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    font-size: 12px;
    font-weight: 400;
}

.login__form input {
    padding: 10px 14px;
    outline: none;
    
}

.login__form .MuiButton-root {
    background-color: #7c9473;
    color: white;
}

.login__form .MuiButton-root:hover {
    background-color: #cfdac8;
    color: #7c9473;
}