.orders {
    background-color: #F5F5F5;
}

.orders__container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0 20px 0;
    justify-content: space-evenly;
}

.orders__left {
    padding: 20px;
    background-color: white;
    flex: 0.7;
}

.orders__right {
    flex: 0.3;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    height: auto;
}

.orders__subtotal {
    border-top: 1px solid #cdd0cb;
    margin-top: 10px;
    padding-top: 10px;
    text-align: right;
    font-size: 18px;
    color: #0F1111;
}

.orders__total {
    padding: 20px 20px 30px 20px;
    background-color: white;
}

.orders__total .MuiButton-root {
    background-color: #7c9473;
    color: white;
    width: 100%;
    margin-top: 10px;
}

.orders__total .MuiButton-root:hover {
    background-color: #cfdac8;
    color: #7c9473;
}

.orders__total a {
    text-decoration: none;
}
