.MuiButton-contained {
    background-color: #7c9473 !important;
    font-weight: 700 !important;
}

.MuiButton-contained:hover {
    background-color: #cfdac8 !important;
    color: #7c9473;
}

.saleCard {
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    padding: 20px;
    position: relative;
}

.saleCard__bestSeller {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 5px;
    z-index: 10;
}

.saleCard__description {
    line-height: 1.5rem;
    text-align: left !important;
    margin-bottom: 10px;
}

.saleCard__image img {
    object-fit:contain;
    width: 100%;
} 

.saleCard__image {
    position: relative;
}

.saleCard__likeButton {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.saleCard__likeButton > .MuiSvgIcon-root {
    color: red;
    cursor: pointer;
    transition: transform 300ms ease-in;
}

.saleCard__likeButton > .MuiSvgIcon-root:hover {
    transform: scale(1.3) rotate(360deg);
    /* -webkit-transform: rotate(360deg); */
    
}

.saleCard__notification {
    position: static;
    top: 10px;
    right: 10px;
}

.saleCard__notificationMessage a {
    color: white !important
}